.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  left: 30%;
  top: 100px;
  width: 30%;
  height: 200px;
  background: rgb(21, 21, 93);

  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.question-section {
  margin-left: 5%;
  flex-basis: 60%;
  max-width: 60%;
}

.qstn {
  color: aliceblue;
}

.question {
  color: aliceblue;
  font-weight: 400;
  width: 100%;

}

.buttons-section {
  position: absolute;
  bottom: 10px;
}


.quiz-button {
  display: flex;
  flex-direction: column;
  width: 120px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: transparent;

  border-color: #4195ef;
  border-radius: 15px;
  cursor: pointer;
  margin: 2px;
}

.quiz-button:hover {
  background-color: #0062cc;
}

.quiz-button.no-hover:hover {
  background-color: initial;
  border-width: 4px;
}



.answer-section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.correct {
  background-color: green;
  border-color: rgb(0, 67, 0);
}

.incorrect {
  background-color: red;
  border-color: rgb(131, 2, 2);
}

.btnPrev {
  background-color: transparent;
  color: aliceblue;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btnNext {

  background-color: transparent;
  color: aliceblue;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.span {
  font-size: 16px;
  color: aliceblue;
}